body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}

.blue-text{
  color: #52B5E5 !important;
  font-weight: 700;
}
.gray{
    color: #8F9195;
}
.green {
    background-color: #00E19A;
}
.rounded-f{
    border-radius: 2.2rem;

}
.blue-bg{
    background-color: #52B5E5;
}
.nav-link.active,.nav-link:hover {
    color:  #52B5E5 !important;
    border: 2px solid  #52B5E5; 
    border-radius: 15px; 
    padding: 5px 15px;
}

.nav-link:hover {
    color:  #52B5E5;
}
/* Custom styles for the login form section */
.login-section {
    background-color: #f8f9fa; /* Background color for the entire section */
}

.image-container {
    background-color: #e0f7fa; /* Light blue background for the image container */
    padding: 20px;
    border-radius: 8px;
}

.form-container {
    background-color: #ffffff; /* White background for the form container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 100%;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.login-form .btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
}

.login-form .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #ffffff;
}
/* Full-Page Chat Section Styles */
.chat-section {
    height: 100vh; 
    background-color: #132049; 
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0; 
}



.chat-header {
    padding: 15px;
    display: flex;
    align-items: center;
}

.chat-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.chat-messages {
    flex: 1;
    padding: 15px;
    background-color: #ffffff; /* Background color for messages area */
    border-radius: 15px;
    margin-bottom: 15px; 
    max-width: 20vw; /* 30% of viewport width */
    max-height: 35vh; /* 60% of viewport height */
    overflow-y: auto; /* Allow scrolling */
}

.message {
    margin-bottom: 15px;
}

.chat-input {
    display: flex;
    padding: 15px;
    background-color: #ffffff; /* Background color for the input container */
    border-top: 1px solid #dee2e6;
    align-items: center;
    width: 100%; /* Ensure it spans the full width */
    position: absolute;
    bottom: 45px; /* Fixed to the bottom of the container */
}

.chat-input .form-control {
    flex: 1;
    margin-right: 10px;
}

.chat-input .btn {
    white-space: nowrap;
}